[Service]
Type=simple
ExecStart=/opt/webchan/webchan
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/opt/webchan
Environment="PORT=80"

[Install]
WantedBy=multi-user.target
